body{
  width: 100%;
  height: 100%;
  
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  
}
#time{
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #333;
  padding: 6px 12px;
  
}
#inputpage{
  background-color: blueviolet;
  
}
#regards{
  color: black;
  
}
#regards pre{
  font-size: large;
}

